
.all-content{
    background-color: #e9e9e9;
}

.all-back{
    background-color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: -5%;
    padding-left: 3%;
    padding-right: 3%;
   /* margin-bottom: 5%;*/
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.input-chart{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.input-back{
    border-color: #3a3a3a;
    background-color: rgb(214, 214, 214);
    border: 1px solid #ccc;
    border-radius: 5px;

}

.radar-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.radarchart{
    width:100%
}

.dash-date{
    margin: 40px 40px 40px 40px;

}

.dash-nutri{
    margin: 40px 40px 40px 40px;

}

.select-kind{
    padding: 15px;
    font-size: 15px;
}