.title{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.calculator-container {
    background-color: #ebebeb;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
  
  .form-section {
    width: 500px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .exercise-level{
    width: 500px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .input-group input,
  .input-group select,
  .exercise-level select{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn, .reset-btn {
    padding: 10px 20px;
    background-color: #ff69b4;
    border: none;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .results-section {
    margin-top:30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .suggestion {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .error-mes{
    margin: 15px 30px -20px -60px;
  }

  .calculation-result{
    display: flex;
    justify-content: center;
  }

  .cal-title{
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }