/*.calorie-tracker-container{

}
*/
.opt-table{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.calorie-title{
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: 30px;
}

.option-calorie{
    margin: 0 auto;
}

.select-kind-lit{
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}

.select-kind-lit2{
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}

.select-kind{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 40px;
}

.food-tables {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    border-collapse: collapse;
    background-color: #ffffff;
  }
  
  .food-tables th, .food-tables td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: 15px;
  }
  
  .food-tables th {
    background-color: #f2f2f2;
    font-weight: bold;
    
  }
#table-foodname{
    max-width: 70%;
    width:500px;
}
  
  .food-tables tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .food-tables tr:hover {
    background-color: #f1f1f1;
  }

.form-table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 84%);
    margin: 0 40px 40px 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.form-div{  
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/*
.date-div{

}*/

#date-lavel{
    margin-right: 10px
}

#date{
    padding: 8px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-div .lavel{
    margin-right: 10px;
}
/*
.food-name{

}

.amount-div{

}*/

#amount{
    padding: 11px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/*
.add-button-div{

}*/

.add-button-div .add-button{
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: rgb(204, 87, 188);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 8px rgba(118, 118, 118, 0.2); 
    border-radius: 5px;
}
.add-button-div :hover{
    background-color: rgb(203, 46, 182);
}
.food-tables .edit-button{
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: rgb(204, 87, 188);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 8px rgba(118, 118, 118, 0.2); 
    border-radius: 5px;
}

.food-tables .delete-button{
    padding: 10px 20px 10px 20px;
    color: rgb(204, 87, 188);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 87, 188);
    box-shadow: 0 8px 8px rgba(118, 118, 118, 0.2); 
    border-radius: 5px;
}

.food-tables .td-button{
    display: flex;
    justify-content: center;
}

.td-button .edit :hover{
    background-color: rgb(185, 29, 164);
}

.td-button .delete :hover{
    background-color: rgb(222, 222, 222);
}


.food-tables #date{
    width: 10%;
}
.food-tables #food{
    width: 30%;
}
.food-tables #amount{
    width: 10%;
}
.food-tables #calorie{
    width: 10%;
}
.food-tables #protein{
    width: 10%;
}
.food-tables #fat{
    width: 10%;
}
.food-tables #action{
    width: 20%;
}

.total-nutrition{
    width: 50%
}

.total-nut-title{
    display: flex;
    justify-content: center;
}